= form_for @group, :url => {:action => "create"} do |f|
  - if @group.errors.any?
    - @group.errors.full_messages.each do |msg|
      = msg
  = f.text_field :name, :size => 20
  %br
  = f.submit "Create"
